*{
    top: 0;
    margin: 0;
    padding: 0;
}

img{
    height: 50px;
    width:  50px;
}

header{
    background-color: rgb(102, 102, 102);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index:9999;
}

nav{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    background-color: aliceblue;
}

nav *{
    transform: translateY(-50%);
}

nav ul{
    margin-left: 200px;
}

nav li{
    margin-left: 50px;
    float:left;
}

#logoText{
    font-size: 25px;
    float:left;
}

#searchBar{
    float: right;
}

/*
    HERO SECTION
*/

#heroSection{
    height: 200px;
    margin-top:60px;
    background-color: aqua;
}

#heroSection article{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: auto;
}

/* 
    IMAGES SECTION
*/

#imagesSection{
    overflow: auto;
    background-color: rgb(196, 228, 255);
}

#imagesSection > article{ 
    width: 80%;
    float: left;
    background-color: rgb(196, 228, 255);
}

#imagesSection > article img{
    width: 75%;
    margin: 5%;
    height: auto;
}

#imagesSection > aside{ 
    width: 20%;
    float: left;
}

#imagesSection > aside img{
    position: relative;
    width: 75%;
    height: auto; 
    margin-top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

/*
    TEXT PANELS SECTION
*/

#textPanelsSection{
    overflow: auto;
    background-color: bisque;
}

#textPanelsSection article{
    width: 45%;
    padding: 2.5%;
    height: 160px;
    float: left;
}

#textPanelsSection img{
    width: 40%;
    height: auto;
}

/*
    FOOTER
*/

footer{
    background-color: rgb(57, 57, 57);
    overflow: auto;
}

footer ul{
    width: 33.3%;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer li{
    text-align: center;
    color: aliceblue;
    list-style: none;
}