nav{
    width: inherit;
    height: var(--navHeight);
    background-color: aqua;
}

nav > a{
    position: relative;
    width: var(--navIconSize);
    height: var(--navIconSize);
    top: 50%;
    float: left;
    margin-left: var(--navIconMarginSides);
    transform: translateY(-50%);
}

nav > a > img{
    height: 100%;
    width: 100%;
}

nav > ul{ 
    position: relative;
    width: calc(100% - (var(--navIconMarginSides) + var(--navIconSize))); 
    float: left;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

nav > ul > li{
    display: inline;
    margin-left: 30px;
}
