*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    width: 1120px;
    margin: auto;
}

img{
    width: 100px;
    height: 100px;
}

/*
    NAV
*/

nav{
    display: flex;
    flex-wrap: wrap;

    width: inherit;
    height: 70px;
    background-color: aqua;   
}

nav > a{
    position: relative;
    width: 62px;
    height: 62px;
    margin-left: 50px; 
   
    top: 50%;
    transform: translateY(-50%);
}

nav > a > img{
    height: 100%;
    width: 100%;
}

nav > ul{ 
    position: relative;
    height: min-content;
    text-align: center;
    flex-grow: 1; 

    top: 50%;
    transform: translateY(-50%);
}

nav > ul > li{
    display: inline;
    margin-left: 30px;
}

/*
    HEADER
*/

header{
    display: flex;  
    flex-wrap: wrap;

    height: 370px;
    background-color: antiquewhite;
}

header > article{
    flex-basis: 50%;
}

header > article > *{
    width: 80%;
    margin-left: 15%;
}

header > article > h1{
    margin-top: 100px;
}

header > article > p{
    margin-top: 40px;
}

header > article > a{
    display: block;
    margin-top: 40px;
}

header > aside{
    flex-grow: 1;
}

header > aside > img{
    position: relative;
    width: 80%;
    height: 300px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

/*
    TOPICS SECTION
*/

#topicsSection{
    margin-bottom: 50px;
}

#topicsSection > h2{
    text-align: center;
    margin-top: 30px;
}

#topicsSection > h1{
    text-align: center;
    margin-top: 15px;
}

#topicsSection > section{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topicsSection > section > article{
    width: 10%;
    height: 400px;
    margin: 0 20px 0 20px
}

/*
    FOOTER
*/

footer{
    height: 90px;
    background-color: rgb(192, 187, 187);
    display: flex;
    flex-wrap: wrap;
}

footer > * {
    height: min-content;  
    position: relative;

    top: 50%;
    transform: translateY(-50%);
}

footer > img{
    position: relative;
    width: 62px;
    height: 62px;
    margin-left: 50px; 
}

footer > p{
    flex-basis: 49%;
    text-align: right;
}

footer > ul{
    flex-grow: 1;
    text-align: center;
}

footer > ul > li{
    display: inline;
}